@import "tailwindcss";

@theme {
  --font-outfit: 'Outfit', sans-serif;

  --animate-fade-in: fadeIn 0.5s ease-out forwards;

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

body {
  background-color: #111827;
  /* gray-900 */
  color: white;
  font-family: var(--font-outfit);
}

.delay-100 {
  animation-delay: 100ms;
}

.delay-200 {
  animation-delay: 200ms;
}

.delay-300 {
  animation-delay: 300ms;
}